<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="StepMotorControllerUIPart.Settings.Diaphragms" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="StepMotorControllerUIPart.Resistors" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="StepMotorControllerUIPart.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
   <userSettings>
      <StepMotorControllerUIPart.Settings.Diaphragms>
         <setting name="D1" serializeAs="String">
            <value>0.053</value>
         </setting>
         <setting name="D2" serializeAs="String">
            <value>0.053</value>
         </setting>
         <setting name="D3" serializeAs="String">
            <value>0.095</value>
         </setting>
         <setting name="D4" serializeAs="String">
            <value>0.095</value>
         </setting>
         <setting name="D5" serializeAs="String">
            <value>0.188</value>
         </setting>
         <setting name="D6" serializeAs="String">
            <value>0.188</value>
         </setting>
         <setting name="D7" serializeAs="String">
            <value>0.188</value>
         </setting>
         <setting name="D8" serializeAs="String">
            <value>0.188</value>
         </setting>
         <setting name="D9" serializeAs="String">
            <value>0.188</value>
         </setting>
         <setting name="D10" serializeAs="String">
            <value>0.188</value>
         </setting>
         <setting name="D11" serializeAs="String">
            <value>0.188</value>
         </setting>
         <setting name="D12" serializeAs="String">
            <value>0.188</value>
         </setting>
         <setting name="D13" serializeAs="String">
            <value>0.188</value>
         </setting>
         <setting name="D14" serializeAs="String">
            <value>0.188</value>
         </setting>
         <setting name="D15" serializeAs="String">
            <value>0.188</value>
         </setting>
         <setting name="D16" serializeAs="String">
            <value>0.188</value>
         </setting>
         <setting name="D17" serializeAs="String">
            <value>0.188</value>
         </setting>
         <setting name="D18" serializeAs="String">
            <value>0.188</value>
         </setting>
         <setting name="D19" serializeAs="String">
            <value>0.188</value>
         </setting>
         <setting name="D20" serializeAs="String">
            <value>0.188</value>
         </setting>
      </StepMotorControllerUIPart.Settings.Diaphragms>
      <StepMotorControllerUIPart.Resistors>
         <setting name="R1" serializeAs="String">
            <value>1000</value>
         </setting>
         <setting name="R2" serializeAs="String">
            <value>1000</value>
         </setting>
         <setting name="R3" serializeAs="String">
            <value>1000</value>
         </setting>
         <setting name="R4" serializeAs="String">
            <value>1000</value>
         </setting>
         <setting name="R5" serializeAs="String">
            <value>1000</value>
         </setting>
         <setting name="R6" serializeAs="String">
            <value>1000</value>
         </setting>
         <setting name="R7" serializeAs="String">
            <value>1000</value>
         </setting>
         <setting name="R8" serializeAs="String">
            <value>1000</value>
         </setting>
         <setting name="R9" serializeAs="String">
            <value>1000</value>
         </setting>
         <setting name="R10" serializeAs="String">
            <value>1000</value>
         </setting>
         <setting name="R11" serializeAs="String">
            <value>1000</value>
         </setting>
         <setting name="R12" serializeAs="String">
            <value>1000</value>
         </setting>
         <setting name="R13" serializeAs="String">
            <value>1000</value>
         </setting>
         <setting name="R14" serializeAs="String">
            <value>1000</value>
         </setting>
         <setting name="R15" serializeAs="String">
            <value>1000</value>
         </setting>
         <setting name="R16" serializeAs="String">
            <value>1000</value>
         </setting>
         <setting name="R17" serializeAs="String">
            <value>1000</value>
         </setting>
         <setting name="R18" serializeAs="String">
            <value>1000</value>
         </setting>
         <setting name="R19" serializeAs="String">
            <value>1000</value>
         </setting>
         <setting name="R20" serializeAs="String">
            <value>1000</value>
         </setting>
      </StepMotorControllerUIPart.Resistors>
      <StepMotorControllerUIPart.Properties.Settings>
         <setting name="SecondaryEmisionMonitorAdcNumber" serializeAs="String">
            <value>2</value>
         </setting>
         <setting name="SecondaryEmisionMonitorChannelNumber" serializeAs="String">
            <value>1</value>
         </setting>
         <setting name="Channel1AdcNumber" serializeAs="String">
            <value>2</value>
         </setting>
         <setting name="Channel1ChannelNumber" serializeAs="String">
            <value>2</value>
         </setting>
         <setting name="Channel2AdcNumber" serializeAs="String">
            <value>2</value>
         </setting>
         <setting name="Channel2ChannelNumber" serializeAs="String">
            <value>3</value>
         </setting>
         <setting name="AKONCOMPort" serializeAs="String">
            <value>COM1</value>
         </setting>
         <setting name="ArduinoCOMPort" serializeAs="String">
            <value />
         </setting>
         <setting name="StepsCount" serializeAs="String">
            <value>10</value>
         </setting>
         <setting name="MesuresPerStep" serializeAs="String">
            <value>25</value>
         </setting>
         <setting name="DelayBeforeStep" serializeAs="String">
            <value>2</value>
         </setting>
      </StepMotorControllerUIPart.Properties.Settings>
   </userSettings>
</configuration>
