<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Resistors" type="System.Configuration.AppSettingsSection" />
    <section name="ModBusAdresses" type="System.Configuration.AppSettingsSection" />
    <section name="Diaphragms" type="System.Configuration.AppSettingsSection" />
  </configSections>
  <!-- Опори резисторів -->
  <Resistors>
    <add key="R1" value="1000,0" />
    <add key="R2" value="1000,0" />
    <add key="R3" value="1000,0" />
    <add key="R4" value="1000,0" />
    <add key="R5" value="1000,0" />
    <add key="R6" value="1000,0" />
    <add key="R7" value="1000,0" />
    <add key="R8" value="1000,0" />
    <add key="R9" value="1000,0" />
    <add key="R10" value="1000,0" />
    <add key="R11" value="1000,0" />
    <add key="R12" value="1000,0" />
    <add key="R13" value="1000,0" />
    <add key="R14" value="1000,0" />
    <add key="R15" value="1000,0" />
    <add key="R16" value="1000,0" />
    <add key="R17" value="1000,0" />
    <add key="R18" value="1000,0" />
    <add key="R19" value="1000,0" />
    <add key="R20" value="1000,0" />
  </Resistors>
  <!-- Канали  -->
  <ModBusAdresses>
    <add key="SecondaryEmisionMonitorAdcNumber" value="1"/>
    <add key="SecondaryEmisionMonitorChannelNumber" value="1"/>
    <add key="Channel1AdcNumber" value="1"/>
    <add key="Channel1ChannelNumber" value="2"/>
    <add key="Channel2AdcNumber" value="1"/>
    <add key="Channel2ChannelNumber" value="3"/>
  </ModBusAdresses>
  <!-- Товщини діафрагм  -->
  <Diaphragms>
    <add key="d1" value="0,053" />
    <add key="d2" value="0,053" />
    <add key="d3" value="0,095" />
    <add key="d4" value="0,095" />
    <add key="d5" value="0,188" />
    <add key="d6" value="0,188" />
    <add key="d7" value="0,188" />
    <add key="d8" value="0,188" />
    <add key="d9" value="0,188" />
    <add key="d10" value="0,188" />
    <add key="d11" value="0,188" />
    <add key="d12" value="0,188" />
    <add key="d13" value="0,188" />
    <add key="d14" value="0,188" />
    <add key="d15" value="0,188" />
    <add key="d16" value="0,188" />
    <add key="d17" value="0,188" />
    <add key="d18" value="0,188" />
    <add key="d19" value="0,188" />
    <add key="d20" value="0,188" />
  </Diaphragms>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
